header ul.flex {
  justify-content: space-between;
  gap: 16px;
}
header.flex nav {
  background-color: var(--bgHeader);
  padding: 0.8rem 1.6rem;
  border-radius: 50px;
  box-shadow: 1px 1px 4px rgb(49, 49, 49);
}
header.flex {
  justify-content: space-between;
  padding: 0 2.4rem;
  margin-top: 1.2rem;
}
header ul li a {
  color: var(--tittle);
  opacity: 0.9;
  font-size: 0.88rem;
  font-weight: 500;
}
header ul li a:hover {
  color: var(--blue);
  opacity: 1;
  font-size: 0.9rem;
}
header button.menu {
  display: none;
}
/*pop up */
header .fixed {
  position: fixed;
  inset: 0;
  background-color: rgba(40, 40, 50, 0.8);
  z-index: 1000;
}
@keyframes menuMove {
  0% {
    scale: 0;
  }
  40% {
    scale: 1.1;
  }
  100% {
    scale: 1;
  }
}
header .fixed ul.model {
  width: 75%;
  margin: 2rem auto 0;
  border-radius: 1rem;
  padding: 1rem 2rem;
  background-color: var(--secondary);
  animation: menuMove 1s 1;
}
header .fixed ul.model li {
  border-bottom: 1px solid var(--border);
  padding: 0.7rem 0;
}
header .fixed ul.model li:first-child {
  text-align: right   ;
  border : none ; 
  padding: 0.2 0 0;
}
header .fixed ul.model li:last-child {
  border-bottom: none;
}
header .fixed ul.model li a {
  font-size: 1.2rem;
  font-weight: 500;
  color: var(--tittle);
}

header .icon-log-out,
.dark-mode,
.icon-menu {
  background-color: var(--bgHeader);
  color: var(--tittle);
  font-size: 1.4rem;
  padding: 5px;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: 0.5px solid var(--border);
  cursor: pointer;
  justify-content: center;
  display: flex;
  align-items: center;
}
header .icon-log-out:hover,
.icon-menu:hover,
.dark-mode:hover {
  border-color: orangered;
}

@media (max-width: 700px) {
  header.flex nav {
    display: none;
  }
  header button.menu {
    display: block;
  }
}
